/*  текст #212121 */
/* вспом. текст #757575 */
/* белый #FFFFFF */
/* синий #2196F3 */
/* color: rgba(255, 255, 255, 0.6); */
/* background: #F5F4FA; */
/* основной background: #E5E5E5; */
/* background: #2F303A; */


:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --title-grey-text: gba(255, 255, 255, 0.6);
    --primary-white-color: #FFFFFF;
    --primary-black-color: #000000;
    --primary-bgr-color: #E5E5E5;
    --bgr-color: #F5F4FA;
    --bgr-bl-color: #2F303A;

}

body {
    background-color: var(--primary-white-color);

    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.list {
    list-style: none;
}
.logo {
    color: var(--primary-black-color);

    text-decoration: none;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-blue {
    color: var(--accent-color);
}
.link {
    color: var(--primary-black-color);

    text-decoration: none;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

}
/*  button*/
.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    /* width: 200px;
    height: 50px; */
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;
}
.button-secondary {
    background-color: var(--bgr-color);
    color: var(--primary-text-color);

}


.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link{
    color: var(--title-text-color);
}

/* hero */
.hero-description {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* planning */


.planning-description {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    
}

/* work */

.description {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
}
.text {
    color: var(--title-text-color);

    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
       
}
/* team */
.team {
    background-color: var(--bgr-color);
}

.footer-nav .adr-text {
    color: var(--title-grey-text);
}




/* portfolio */

.filter button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
        /* text-align: center; */

}
.portfolio-desc {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-filt {
    color: var(--title-text-color);

    font-size: 16px;
    line-height: 1.88;
}

.portfolio-hov {
    /* color: var(--primary-white-color); */

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}
